@import '_variables';
@import 'home';
@import 'logo';
@import 'search';
@import 'results';
@import 'recent-posts';
@import 'post';
@import 'result-posts';
@import 'result-post';

html {
    font-size: 62.5%; // 1rem is 10px
}

.app-wrapper {
    display: grid;
    justify-content: center;
}

body {
    overflow-x: hidden;
    font-weight: normal;
    font-family: 'Lato';

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}